<div class="flex flex-row justify-between">
  <div class="font-semibold text-xl">
    <%= @property.street.titleize %>, Philadelphia, PA <%= @property.zip[0..4] %>
  </div>

  <div>
    <p>This property is certified to rent!</p>
  </div>

  <div>
    <% if !prop_ids(@user_properties).include?(@property.id)%>
      <%= render partial: 'shared/property_button', locals: { url: user_properties_path, method: :post, property: @property, button: "Save", style: 'inline-block px-2 py-1 text-s font-bold leading-none text-white text-center transition-all duration-200 bg-blue-700 border-2 border-blue-700 shadow-md fold-bold hover:bg-white hover:text-blue-700 rounded'}  %>
    <% else %>
      <%= render partial: 'shared/property_button', locals: { url: user_properties_path, method: :delete, property: @property, button: "Unsave", style: 'inline-block px-2 py-1 text-s font-bold leading-none text-white text-center transition-all duration-200 bg-blue-700 border-2 border-blue-700 shadow-md fold-bold hover:bg-white hover:text-blue-700 rounded' } %>
    <% end %>
  </div>

  <div>
    <%= render partial: 'shared/property_button', locals: { url: property_path(@user.id, @property.id), method: :get, property: @property, button: "More Details", style: 'text-blue-700 underline hover:text-blue-900 cursor-pointer' } %>
  </div>
</div>
