<div class="flex flex-row justify-between">
  <div class="font-semibold text-xl">
    <%= @property.street.titleize %>, Philadelphia, PA <%= @property.zip[0..4] %>
  </div>

  <div>
    <p>This property is certified to rent!</p>
  </div>

  <div>
    <% if !prop_ids(@user_properties).include?(@property.id)%>
      <%= render partial: 'shared/property_button', locals: { url: user_properties_path, method: :post, property: @property, button: "Save" } %>
    <% else %>
      <%= render partial: 'shared/property_button', locals: { url: user_properties_path, method: :delete, property: @property, button: "Unsave" } %>
    <% end %>
  </div>

  <div>
    <%= render partial: 'shared/property_button', locals: { url: property_path(@user.id, @property.id), method: :get, property: @property, button: "More Details" } %>
  </div>
</div>
