<div id="property-<%= property.id %>" class='p-6 border border-gray-300 rounded-lg shadow-md hover:shadow-lg'>
  <div class="flex justify-between">
    <div class="text-lg font-semibold">
      <h1><%= property.street.titleize %></h1>
      <h1>Philadelphia, PA <%= property.zip[0..4] %></h1>
    </div>
    <%= render partial: 'shared/save_unsave_button', locals: { url: user_properties_path, method: :delete, property: property, button: "Unsave" } %>
  </div>
  <div>
    <%= render partial: 'shared/property_button', locals: { url: property_path(@user.id, property.id), method: :get, property: property, button: "More Details", style: 'text-blue-600 underline hover:text-blue-900 cursor-pointer' } %>
  </div>
</div>