<div style='display: flex; flex-direction: column'>
<p>Welcome <%= @user %>!</p>
<div id="Logout">
  <%= button_to "Log Out", logout_path, method: :delete %>
</div>

<div id="home">
  <%= button_to "Home", root_path, method: :get %>
</div>

<div id="find-property">
  <h3>Find a Property</h3>
</div>

<div id="search">
  <%= render partial: 'search_form' %>
</div>

<div id="Result" >
  <% if @property.is_a? SearchError %>
    This property is not on the Certified Rentals list.
  <% elsif @property.is_a? Property %>
    <%= @property.street %>, <%= @property.zip %><br>
    Certified to Rent:
    Bike Score: <%= @property.bike_score %>
    Walk Score: <%= @property.walk_score %>
    Safety Score: <%= @property.safety_score%>
    Transit Score: <%= @property.transit_score %><br>

    <% if !prop_ids(@user_properties).include?(@property.id)%>
      <%= render partial: 'property_button', locals: { url: user_properties_path, method: :post, property: @property, button: "Save" } %>
    <% else %>
      <%= render partial: 'property_button', locals: { url: user_properties_path, method: :delete, property: @property, button: "Unsave" } %>
    <% end %>
  <% end %>
</div>

<div id="Saved">
  <h3>Saved Properties</h3>
  <% if @user_properties.empty? %>
      Save a property to view it here!
  <% else %>
    <% @user_properties.each do |property|%>
      <div id="property-<%= property.id %>">
        <%= property.street %>, <%= property.zip %><br>

        <%= render partial: 'property_button', locals: { url: dashboard_path, method: :get, property: property, button: "More Details" } %>
        <%= render partial: 'property_button', locals: { url: user_properties_path, method: :delete, property: property, button: "Unsave" } %>
      </div>
    <% end %>
  <% end %>
</div>
</div>