<div style='display: flex; flex-direction: column'>
<p>Welcome <%= @user %>!</p>
<div id="Logout">
  <%= button_to "Log Out", logout_path, method: :delete %>
</div>

<div id="home">
  <%= button_to "Home", root_path, method: :get %>
</div>

<div id="find-property">
  <h3>Find a Property</h3>
</div>

<div id="search">
  <%= render partial: 'search_form' %>
</div>

<div id="Result" >
  <% if @property.is_a? SearchError %>
    This property is not on the Certified Rentals list.
  <% elsif @property.is_a? Property %>
    <%= render partial: 'result_property' %>
  <% end %>
</div>

<div id="Saved">
  <h3>Saved Properties</h3>
  <% if @user_properties.empty? %>
      Save a property to view it here!
  <% else %>
    <% @user_properties.each do |property|%>
      <%= render partial: 'saved_property', locals: { property: property } %>
    <% end %>
  <% end %>
</div>
</div>