<div id="Result" class='flex flex-col mt-4 px-6 py-4 rounded-md gap-4 bg-white'>
  <div class="flex flex-row justify-between">
    <div class="font-semibold text-2xl">
      <h1><%= @property.street.titleize %>,</h1>
      <h1>Philadelphia, PA <%= @property.zip[0..4] %></h1>
    </div>
    <div id='save-unsave'>
      <% if !prop_ids(@user_properties).include?(@property.id) %>
        <%= render partial: 'shared/save_unsave_button', locals: { url: user_properties_path, method: :post, property: @property, button: "Save" } %>
      <% else %>
        <%= render partial: 'shared/save_unsave_button', locals: { url: user_properties_path, method: :delete, property: @property, button: "Unsave" } %>
      <% end %>
    </div>
  </div>

  <%= render partial: 'shared/certified_card' %>

  <h2 class='text-xl font-semibold leading-none mt-8'>
    Scores
  </h2>
  
  <div class="grid grid-cols-4 justify-between gap-2">
    <%= render partial: 'shared/score_card', locals: { title: "Walk Score", score: @property.walk_score, url_learn_more: 'https://www.walkscore.com/how-it-works/' } %>
    <%= render partial: 'shared/score_card', locals: { title: "Bike Score", score: @property.bike_score, url_learn_more: 'https://www.walkscore.com/how-it-works/' } %>
    <%= render partial: 'shared/score_card', locals: { title: "Transit Score", score: @property.transit_score, url_learn_more: 'https://www.walkscore.com/how-it-works/' } %>
    <%= render partial: 'shared/score_card', locals: { title: "Safety Score", score: (100 - @property.safety_score.to_i), url_learn_more: 'https://geosureglobal.com/' } %>
  </div>

  <div id='Parks' class='w-full'>
    <h2 class="text-xl font-semibold mt-4 mb-4">Nearby Parks</h2>

    <div class='shadow-lg border border-gray-200 rounded-md p-4 flex flex-col gap-4'>
      <% format_parks(@property.parks).each do |park| %>
        <div class="">
          <div class='font-bold text-md text-gray-900'>
            <%= park[:name] %>
          </div>
          <div class='text-sm'>
            <%= park[:street] %>
          </div>
        </div>
      <% end %>
    </div>

    <p class='text-xs mt-4'>
      To find more parks, activities, and green spaces near this address, visit the Parks & Recreation <a class='text-xs text-blue-700 underline hover:text-blue-900' href='https://www.phila.gov/parks-rec-finder/#/locations' target="_blank">Park Finder</a>.
    </p>
  </div>
</div>
