<%= link_to "Login", login_path %>
<%= link_to "Sign Up", sign_up_path %>

<div id="Signup">
  <%= link_to "Sign Up", "https://accounts.google.com/signup/v2/createaccount?biz=false"%>
</div> <br>

<div id="Description">
  <h3>Find a rental that's safe and fit for you</h3>
  We provide you with code-compliant properties so you can focus on finding the best home for you.
</div> <br>

<div id="Image_one">
  <%= image_tag "placeholder/Rick_rollin.jpeg" %>
</div><br><br><br><br>

<div id="mid_page">
  <h3>Sometimes pictures aren't enough.</h3><br>
  Smoke Detectors? 
  <%= image_tag "placeholder/Mini_rollin.jpeg" %>
  Safe neighborhood? 
  <%= image_tag "placeholder/Mini_rollin.jpeg" %>
  Lifestyle fit? 
  <%= image_tag "placeholder/Mini_rollin.jpeg" %>
  </div>


<div id="bottom_page">
  <h3>With RentInform</h3><br>
  <!-- little checkmark image here-->
  City Code Compliance Check<br>
  <!-- little checkmark image here-->
  Walk Score<br>
  <!-- little checkmark image here-->
  Bike Score<br>
  <!-- little checkmark image here-->
  Transit Score<br>
  <!-- little checkmark image here-->
  Safe Place Score<br>
  <%= image_tag "placeholder/Rick_rollin.jpeg" %>
  </div>