<!DOCTYPE html>
<html>
  <head>
    <title>RentInform</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.9.2/tailwind.min.css">
  </head>

  <body>
    <%= render partial: "layouts/header" %>
    <% flash.each do |type, msg| %>
      <%= content_tag :div, msg, class: type %>
    <% end %>
    <%# <div class="container mx-auto mt-28 px-5 flex"> %>
    <div class="mt-20">
      <%= yield %>
    </div>
    <%# </div> %>
  </body>
</html>
